@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Bree Serif', serif;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}

input, textarea, button {
  font-family: 'Bree Serif', serif;
}
input[type=text],
input[type=password],
input[type=email],
textarea {
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
}
button {
  padding: 1rem;
  background-color: #bd9e59;
  border: 1px solid #bd9e59;
  color: #fff;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 1rem;
}

.container {
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
}


a {
  color: #bd9e59;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: #997d41;
}
nav a {
  position: relative;
  font-family: 'Bree Serif', serif;
  padding: 0.5rem;
  border-bottom: 2px solid transparent;
}
nav a.active {
  color: #997d41;
}
nav a.active::after,
nav a:hover::after {
  content: '';
  position: absolute;
  bottom:-0.125rem;
  left: 0.5rem;
  right: 0.5rem;
  height: 0.25rem;
  // z-index: -1;
  background-image: url("../public/underline.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-user,
.header-auth {
  display: flex;
  align-items: center;
}
.header-user,
.header-auth a {
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.5rem;
}


